body {
    font-family: Arial, sans-serif;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 200px;
    background-color: #222222;
    overflow-y: auto;
    padding: 20px;
}

button {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #222222;
    color: white;
    border: none;
    cursor: pointer;
    font-family: 'Sohne', ui-sans-serif, sans-serif;
    border-radius: 5px;
}

button i {
    margin-right: 10px;
    flex-shrink: 0;
}

button:hover {
    background-color: #333333;
}

.main {
  margin-left: 220px;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 20px;
  height: calc(100vh - 40px);
}

.table-section,
.scan-section,
.processes-debug-section {
    border: 1px solid rgba(17, 15, 15, 0.137);
    height: calc(100% - 10px);
    overflow: hidden;
}

/* Found Addresses Section (upper left quadrant) */
.table-section.found-addresses {
  grid-row: 1 / 2;
  grid-column: 1 / 2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.table-wrapper {
  flex-grow: 1;
  overflow: hidden;
}

.table-container {
  height: 100%;
  overflow-y: auto;
  padding-right: 20px;
  margin-bottom: 10px;
}

.down-arrow-container {
  display: flex;
  justify-content: center;
}

table {
  border-collapse: collapse;
  margin-bottom: 20px;
  width: 100%;
}

table, th, td {
  border: 1px solid black;
}

th, td {
  padding: 5px 10px;
  text-align: left;
}

#downArrowButton {
  font-size: 1.5rem;
  margin-left: 10px;
  padding: 5px;
  background-color: #222222;
  color: white;
  border: none;
  cursor: pointer;
}

#downArrowButton:hover {
  background-color: #333333;
}

/* Scan Section (upper right quadrant) */
.scan-section {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    display: grid;
    grid-template-rows: repeat(30, auto);
    grid-row-gap: 0px;
    row-gap: 0px;
  }
  
  .value-label {
    grid-row: 2 / 3;
  }
  
  .input-group {
    grid-row: 3 / 4;
  }
  

.button-container {
  display: grid;
  grid-template-columns: auto auto 1fr auto;
  grid-template-rows: auto;
  align-items: center;
  gap: 10px;
}

.scan-section button {
  flex: 0 0 auto;
  min-width: 0;
  white-space: nowrap;
}

.scan-section .new-scan {
  grid-column: 1 / 2;
}

.scan-section .next-scan {
  grid-column: 2 / 3;
}

.scan-section .undo-scan {
  grid-column: 4 / 5;
}


.input-group label {
    margin-right: 5px;
  }
  
  /* Editable Addresses Section (lower left quadrant) */
  .table-section.editable-addresses {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
  }
  
  .table-container {
    height: 100%;
    overflow-y: auto;
    padding-right: 20px;
    margin-bottom: 10px;
  }
  
  /* Processes/Debug Section (lower right quadrant) */
  .processes-debug-section {
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    display: flex;
  }
  
