# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.vsidx
*.vsidx
*.ipch
*.ipch
*.ipch
*.db
*.sarif
*.tlog
*.pyc
MemDLLTest/.vs/MemDLLTest/v17/ipch/AutoPCH/df7e1b313edea633/MEMORYLIB.ipch
*.pyc
*.pyc
