/* Editable Addresses Section (lower left quadrant) */
.table-section.editable-addresses {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
  }
  
  .table-container {
    height: 100%;
    overflow-y: auto;
    padding-right: 20px;
    margin-bottom: 10px;
  }