.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 200px;
  background-color: #222222;
  overflow-y: auto;
  padding: 20px;
}

.agent-container {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.agent-button {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 10px;
  background-color: #222222;
  color: white;
  border: none;
  cursor: pointer;
  font-family: 'Sohne', ui-sans-serif, sans-serif;
  border-radius: 5px;
}

.agent-button i {
  margin-right: 30px; /* Adjust this value to add a little bit of space */
  flex-shrink: 0;
}

.agent-button:hover {
  background-color: #333333;
}

.edit-icon {
  position: absolute;
  right: 10px;
  display: none;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

.agent-container:hover .edit-icon {
  display: inline-block;
}
